Repository HowardRoark96/KAM: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

KAM-78: [FE] Widget post card component [zn-zorro] Init `app-news-card` component Renamed `reactive-single-select` folder to `reactive-select`
  src/app/pages/main/pages/home/widgets/news-card/index.ts
  src/app/pages/main/pages/home/widgets/news-card/news-card.component.html
  src/app/pages/main/pages/home/widgets/news-card/news-card.component.scss
  src/app/pages/main/pages/home/widgets/news-card/news-card.component.ts
  src/app/pages/main/pages/home/widgets/news-card/news-card.module.ts
  src/app/pages/main/pages/media/media.module.ts
  src/app/widgets/reactive-fields/reactive-select/index.ts
  src/app/widgets/reactive-fields/reactive-select/reactive-select.component.html
  src/app/widgets/reactive-fields/reactive-select/reactive-select.component.scss
  src/app/widgets/reactive-fields/reactive-select/reactive-select.component.ts
  src/app/widgets/reactive-fields/reactive-select/reactive-select.module.ts
Due: prettier --write, eslint --fix

KAM-78: [FE] Widget post card component [zn-zorro] Added `app-news-card` component
  src/app/pages/main/pages/home/home.component.html
  src/app/pages/main/pages/home/home.component.ts
  src/app/pages/main/pages/home/home.module.ts
  src/app/pages/main/pages/home/widgets/news-card/news-card.component.html
  src/app/pages/main/pages/home/widgets/news-card/news-card.component.ts
  src/app/pages/main/pages/home/widgets/news-card/news-card.module.ts
  src/app/utils/mocked-data/news.constant.ts
  src/app/utils/mocked-data/user.constant.ts
Due: prettier --write, eslint --fix

KAM-78: [FE] Widget post card component [zn-zorro] Added time to `app-news-card` component
  src/app/pages/main/pages/home/widgets/news-card/news-card.component.html
  src/app/pages/main/pages/home/widgets/news-card/news-card.component.scss
  src/app/pages/main/pages/home/widgets/news-card/news-card.component.ts
  src/app/pages/main/pages/home/widgets/news-card/news-card.module.ts
  src/app/utils/mocked-data/news.constant.ts
  src/app/widgets/card/card.module.ts
Due: prettier --write, eslint --fix

KAM-78: [FE] Widget post card component [zn-zorro] Deleted `PostComponent` Made changes after review
  src/app/components/post/components/date/date.component.html
  src/app/components/post/components/date/date.component.scss
  src/app/components/post/components/date/date.component.ts
  src/app/components/post/components/date/date.module.ts
  src/app/components/post/components/date/index.ts
  src/app/components/post/index.ts
  src/app/components/post/post.component.html
  src/app/components/post/post.component.scss
  src/app/components/post/post.component.ts
  src/app/components/post/post.module.ts
  src/app/pages/main/pages/home/home.component.html
  src/app/pages/main/pages/home/home.module.ts
Due: prettier --write, eslint --fix

KAM-78: [FE] Widget post card component [zn-zorro] Made changes after review
  src/app/pages/main/pages/home/home.component.ts
  src/app/pages/main/pages/home/utils/post.mock.ts
Due: prettier --write, eslint --fix

KAM-80: [FE] Reactive text editor Added `app-reactive-text-editor` component
  angular.json
  package.json
  src/app/widgets/reactive-fields/reactive-select/reactive-select.component.html
  src/app/widgets/reactive-fields/reactive-text-editor/index.ts
  src/app/widgets/reactive-fields/reactive-text-editor/reactive-text-editor.component.html
  src/app/widgets/reactive-fields/reactive-text-editor/reactive-text-editor.component.scss
  src/app/widgets/reactive-fields/reactive-text-editor/reactive-text-editor.component.ts
  src/app/widgets/reactive-fields/reactive-text-editor/reactive-text-editor.module.ts
  tsconfig.json
Due: prettier --write, eslint --fix

KAM-82: [FE] Button `Add post` Added `Create news` button Added `app-modal-create-news` modal Refactored some code
  src/app/app.module.ts
  src/app/pages/main/pages/contact/contact.component.ts
  src/app/pages/main/pages/home/home.component.html
  src/app/pages/main/pages/home/home.component.ts
  src/app/pages/main/pages/home/home.module.ts
  src/app/pages/main/pages/home/widgets/modal-create-news/index.ts
  src/app/pages/main/pages/home/widgets/modal-create-news/modal-create-news.component.html
  src/app/pages/main/pages/home/widgets/modal-create-news/modal-create-news.component.scss
  src/app/pages/main/pages/home/widgets/modal-create-news/modal-create-news.component.ts
  src/app/pages/main/pages/home/widgets/modal-create-news/modal-create-news.module.ts
  src/app/pages/main/pages/home/widgets/news-card/news-card.component.html
  src/app/pages/main/pages/home/widgets/news-card/news-card.component.ts
  src/app/widgets/reactive-fields/reactive-text-editor/reactive-text-editor.component.html
  src/app/widgets/reactive-fields/reactive-text-editor/reactive-text-editor.component.scss
  src/app/widgets/reactive-fields/reactive-text-editor/reactive-text-editor.component.ts
Due: prettier --write, eslint --fix

KAM-82: [FE] Button `Add post` Fixed issue with `build` script
  angular.json
Due: none

KAM-82: [FE] Button `Add post` Fixed issue with `build` script
  angular.json
  package.json
Due: none

KAM-84: [FE] Widget request wrapper Made changes after review
  src/app/pages/no-page/no-page.component.html
  src/app/pages/no-page/no-page.component.scss
  src/app/widgets/request-wrapper/request-wrapper.component.html
  src/app/widgets/request-wrapper/request-wrapper.component.scss
Due: prettier --write

KAM-86: [FE] Widget grid Clean unused code
  src/app/pages/main/pages/about/about.component.html
  src/app/pages/main/pages/about/about.module.ts
  src/app/pages/main/pages/contributing/contributing.component.html
  src/app/pages/main/pages/contributing/contributing.component.ts
  src/app/pages/main/pages/contributing/contributing.module.ts
  src/app/pages/main/pages/devblog/devblog.component.html
  src/app/pages/main/pages/devblog/devblog.component.scss
  src/app/pages/main/pages/devblog/devblog.component.ts
  src/app/pages/main/pages/devblog/devblog.module.ts
  src/app/pages/main/pages/download/download.component.html
  src/app/pages/main/pages/download/download.component.ts
  src/app/pages/main/pages/download/download.module.ts
  src/app/pages/main/pages/faq/faq.component.html
  src/app/pages/main/pages/faq/faq.component.ts
  src/app/pages/main/pages/faq/faq.module.ts
  src/app/pages/main/pages/links/links.component.html
  src/app/pages/main/pages/links/links.component.ts
  src/app/pages/main/pages/links/links.module.ts
  src/app/pages/main/pages/media/media.component.html
  src/app/pages/main/pages/media/media.component.ts
  src/app/pages/main/pages/media/media.module.ts
  src/app/pages/main/pages/servers/servers.component.html
  src/app/pages/main/pages/servers/servers.component.ts
  src/app/pages/main/pages/servers/servers.module.ts
  src/app/utils/mocked-data/index.ts
  src/app/utils/mocked-data/select.constant.ts
Due: prettier --write, eslint --fix

KAM-86: [FE] Widget grid Added `ag-grid` lib
  package.json
  src/app/pages/main/pages/home/home.component.html
  src/app/pages/main/pages/servers/servers.component.html
  src/app/pages/main/pages/servers/servers.component.ts
  src/app/pages/main/pages/servers/servers.module.ts
  src/app/pipes/execute-with/execute-with.pipe.ts
  src/app/widgets/comment/comment.component.html
  src/app/widgets/grid/grid.component.html
  src/app/widgets/grid/grid.component.ts
  src/app/widgets/grid/grid.module.ts
  src/app/widgets/grid/index.ts
  src/app/widgets/grid/utils/grid-cell.interface.ts
  src/app/widgets/grid/utils/grid-columns.interface.ts
  src/app/widgets/grid/utils/grid-row.interface.ts
  src/app/widgets/grid/utils/grid-settings.interface.ts
  src/app/widgets/grid/utils/index.ts
  src/app/widgets/grid/widgets/no-rows-overlay/index.ts
  src/app/widgets/grid/widgets/no-rows-overlay/no-rows-overlay.component.html
  src/app/widgets/grid/widgets/no-rows-overlay/no-rows-overlay.component.scss
  src/app/widgets/grid/widgets/no-rows-overlay/no-rows-overlay.component.ts
  src/app/widgets/request-wrapper/request-wrapper.component.html
  styles/global.scss
Due: prettier --write, eslint --fix

KAM-86: [FE] Widget grid Refactored some code
  angular.json
  package.json
  src/app/app.module.ts
  src/app/pages/authorize/authorize.component.scss
  src/app/pages/main/main.component.html
  src/app/pages/main/main.component.scss
  src/app/pages/main/main.component.ts
  src/app/pages/main/main.module.ts
  src/app/pages/main/pages/home/widgets/news-card/news-card.component.html
  src/app/pages/main/pages/home/widgets/news-card/news-card.component.scss
  src/app/pages/main/pages/servers/servers.component.ts
  src/app/widgets/comment/comment.component.html
  src/app/widgets/comment/comment.component.scss
  src/app/widgets/comment/comment.component.ts
  src/app/widgets/grid/renders/country-cell/country-cell-def.ts
  src/app/widgets/grid/renders/country-cell/country-cell.component.html
  src/app/widgets/grid/renders/country-cell/country-cell.component.scss
  src/app/widgets/grid/renders/country-cell/country-cell.component.ts
  src/app/widgets/grid/renders/country-cell/index.ts
  src/index.html
  styles/_scroll.scss
  styles/colors.scss
  styles/custom-bootstrap/_spacing.scss
  styles/global.scss
Due: prettier --write, eslint --fix

KAM-89: [FE] Internationalization KAM-90: [FE] Internationalization `Authorize` module Refactored some code
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/pages/authorize/pages/sign-up/sign-up.module.ts
  src/app/pages/main/pages/contact/contact.component.ts
  src/app/utils/constants/index.ts
  src/app/utils/functions/locale/locale.ts
  src/app/widgets/locale-switcher/locale-switcher.component.ts
  src/app/widgets/reactive-fields/classes/reactive-component.ts
  src/app/widgets/reactive-fields/reactive-error/reactive-error.component.ts
Due: prettier --write, eslint --fix

KAM-93: [FE] Create 'Administration' page Create 'Administration' layout Create 'Users' layout Create 'Roles' layout Create 'Permissions' layout
  src/app/pages/main/main-routing.module.ts
  src/app/pages/main/main.component.html
  src/app/pages/main/main.component.scss
  src/app/pages/main/main.component.ts
  src/app/pages/main/pages/administration/administration-routing.module.ts
  src/app/pages/main/pages/administration/administration.component.html
  src/app/pages/main/pages/administration/administration.component.scss
  src/app/pages/main/pages/administration/administration.component.ts
  src/app/pages/main/pages/administration/administration.module.ts
  src/app/pages/main/pages/administration/index.ts
  src/app/pages/main/pages/administration/pages/permissions/index.ts
  src/app/pages/main/pages/administration/pages/permissions/permissions-routing.module.ts
  src/app/pages/main/pages/administration/pages/permissions/permissions.component.html
  src/app/pages/main/pages/administration/pages/permissions/permissions.component.scss
  src/app/pages/main/pages/administration/pages/permissions/permissions.component.ts
  src/app/pages/main/pages/administration/pages/permissions/permissions.module.ts
  src/app/pages/main/pages/administration/pages/roles/index.ts
  src/app/pages/main/pages/administration/pages/roles/roles-routing.module.ts
  src/app/pages/main/pages/administration/pages/roles/roles.component.html
  src/app/pages/main/pages/administration/pages/roles/roles.component.scss
  src/app/pages/main/pages/administration/pages/roles/roles.component.ts
  src/app/pages/main/pages/administration/pages/roles/roles.module.ts
  src/app/pages/main/pages/administration/pages/users/index.ts
  src/app/pages/main/pages/administration/pages/users/users-routing.module.ts
  src/app/pages/main/pages/administration/pages/users/users.component.html
  src/app/pages/main/pages/administration/pages/users/users.component.scss
  src/app/pages/main/pages/administration/pages/users/users.component.ts
  src/app/pages/main/pages/administration/pages/users/users.module.ts
  src/app/widgets/sidebar/sidebar.component.html
  src/app/widgets/sidebar/sidebar.component.ts
  src/assets/locale/locale-en.ts
  src/assets/locale/locale-ru.ts
  src/assets/locale/locale.interface.ts
Due: prettier --write, eslint --fix

KAM-93: [FE] Create 'Administration' page Added tooltip to `app-grid`
  src/app/widgets/grid/grid.component.ts
  src/app/widgets/grid/widgets/grid-tooltip/grid-tooltip.component.html
  src/app/widgets/grid/widgets/grid-tooltip/grid-tooltip.component.scss
  src/app/widgets/grid/widgets/grid-tooltip/grid-tooltip.component.ts
  src/app/widgets/grid/widgets/grid-tooltip/index.ts
Due: prettier --write, eslint --fix

KAM-93: [FE] Create 'Administration' page Added `tag-cell` Refactored mocks
  src/app/api/mocks/administration/permissions/permissions.mock.ts
  src/app/api/model/administration/permissions/permissionCodeType.ts
  src/app/pages/main/pages/administration/pages/permissions/permissions.component.ts
  src/app/widgets/grid/renders/tag-cell/index.ts
  src/app/widgets/grid/renders/tag-cell/tag-cell-def.ts
  src/app/widgets/grid/renders/tag-cell/tag-cell.component.html
  src/app/widgets/grid/renders/tag-cell/tag-cell.component.scss
  src/app/widgets/grid/renders/tag-cell/tag-cell.component.ts
  src/app/widgets/grid/renders/tag-cell/tag-cell.module.ts
Due: prettier --write, eslint --fix

KAM-93: [FE] Create 'Administration' page Refactored mocks Refactored 'Servers' page Added mocks for 'Servers' page Added 'Roles' mocked data
  src/app/api/mocks/administration/index.ts
  src/app/api/mocks/administration/permissions.mock.ts
  src/app/api/mocks/administration/permissions/index.ts
  src/app/api/mocks/administration/roles.mock.ts
  src/app/api/mocks/administration/roles/index.ts
  src/app/api/mocks/administration/roles/roles.mock.ts
  src/app/api/mocks/administration/users.mock.ts
  src/app/api/mocks/administration/users/index.ts
  src/app/api/mocks/index.ts
  src/app/api/mocks/servers/index.ts
  src/app/api/mocks/servers/servers.mock.ts
  src/app/api/model/administration/index.ts
  src/app/api/model/administration/permissionCodeType.ts
  src/app/api/model/administration/permissionDto.ts
  src/app/api/model/administration/permissions/index.ts
  src/app/api/model/administration/roleDto.ts
  src/app/api/model/administration/roleType.ts
  src/app/api/model/administration/roles/index.ts
  src/app/api/model/administration/roles/roleDto.ts
  src/app/api/model/administration/userDto.ts
  src/app/api/model/administration/users/index.ts
  src/app/api/model/common/countryCodeType.ts
  src/app/api/model/common/index.ts
  src/app/api/model/servers/index.ts
  src/app/api/model/servers/serverDto.ts
  src/app/api/services/index.ts
  src/app/api/services/permissions.service.ts
  src/app/api/services/roles.service.ts
  src/app/api/services/servers.service.ts
  src/app/pages/main/pages/administration/pages/permissions/permissions.component.ts
  src/app/pages/main/pages/administration/pages/roles/roles.component.html
  src/app/pages/main/pages/administration/pages/roles/roles.component.ts
  src/app/pages/main/pages/administration/pages/roles/roles.module.ts
  src/app/pages/main/pages/servers/servers.component.html
  src/app/pages/main/pages/servers/servers.component.ts
  src/app/widgets/grid/grid.component.ts
  src/app/widgets/grid/renders/country-cell/country-cell-def.ts
  src/app/widgets/grid/renders/country-cell/country-cell.component.ts
  src/app/widgets/grid/renders/tag-cell/tag-cell.component.ts
Due: prettier --write, eslint --fix

KAM-93: [FE] Create 'Administration' page Added `action-cell`
  src/app/pages/main/pages/administration/pages/permissions/permissions.component.ts
  src/app/pages/main/pages/administration/pages/roles/roles.component.ts
  src/app/pages/main/pages/servers/servers.component.ts
  src/app/widgets/button/button.component.html
  src/app/widgets/button/button.component.ts
  src/app/widgets/grid/grid.component.ts
  src/app/widgets/grid/renders/action-cell/action-cell-def.ts
  src/app/widgets/grid/renders/action-cell/action-cell-params.ts
  src/app/widgets/grid/renders/action-cell/action-cell.component.html
  src/app/widgets/grid/renders/action-cell/action-cell.component.scss
  src/app/widgets/grid/renders/action-cell/action-cell.component.ts
  src/app/widgets/grid/renders/action-cell/action-cell.module.ts
  src/app/widgets/grid/renders/action-cell/index.ts
  src/app/widgets/grid/renders/country-cell/country-cell-def.ts
  src/app/widgets/grid/renders/tag-cell/tag-cell-def.ts
  src/app/widgets/grid/utils/exact-width.ts
  src/app/widgets/grid/utils/width-col-def.ts
  src/assets/locale/locale-en.ts
  src/assets/locale/locale-ru.ts
  src/assets/locale/locale.interface.ts
Due: prettier --write, eslint --fix

KAM-93: [FE] Create 'Administration' page Added create/edit role modal Added delete role function
  src/app/api/services/permissions.service.ts
  src/app/api/services/roles.service.ts
  src/app/pages/authorize/pages/recover-account/recover-account.component.ts
  src/app/pages/main/pages/administration/pages/permissions/permissions.component.ts
  src/app/pages/main/pages/administration/pages/roles/roles.component.html
  src/app/pages/main/pages/administration/pages/roles/roles.component.ts
  src/app/pages/main/pages/administration/pages/roles/roles.module.ts
  src/app/pages/main/pages/administration/pages/roles/widgets/role-modal/index.ts
  src/app/pages/main/pages/administration/pages/roles/widgets/role-modal/role-modal.component.html
  src/app/pages/main/pages/administration/pages/roles/widgets/role-modal/role-modal.component.scss
  src/app/pages/main/pages/administration/pages/roles/widgets/role-modal/role-modal.component.ts
  src/app/pages/main/pages/contact/contact.component.ts
  src/app/pages/main/pages/home/widgets/modal-create-news/modal-create-news.component.ts
  src/app/services/notification/notification.service.ts
  src/app/utils/constants/form.constant.ts
  src/app/utils/functions/create-options/be-to-fe-options.ts
  src/app/utils/functions/create-options/create-options-for-boolean.ts
  src/app/utils/functions/create-options/create-options-for-localized-enum.ts
  src/app/utils/functions/create-options/create-options-for-nullable-boolean.ts
  src/app/utils/functions/create-options/utils/options-config.ts
  src/app/utils/interfaces/select-option/select-option.ts
  src/app/widgets/button/button.component.ts
  src/app/widgets/comment/comment.component.ts
  src/app/widgets/locale-switcher/locale-switcher.component.ts
  src/app/widgets/reactive-fields/classes/reactive-selection-component.ts
  src/app/widgets/reactive-fields/reactive-select/reactive-select.component.html
  src/app/widgets/reactive-fields/reactive-select/reactive-select.component.ts
  src/assets/locale/locale-en.ts
  src/assets/locale/locale-ru.ts
  src/assets/locale/locale.interface.ts
Due: prettier --write, eslint --fix

KAM-93: [FE] Create 'Administration' page Added translation
  src/app/pages/main/pages/administration/pages/roles/roles.component.ts
  src/app/pages/main/pages/administration/pages/roles/widgets/role-modal/role-modal.component.html
  src/app/pages/main/pages/administration/pages/roles/widgets/role-modal/role-modal.component.ts
  src/assets/locale/locale-en.ts
  src/assets/locale/locale-ru.ts
  src/assets/locale/locale.interface.ts
Due: prettier --write, eslint --fix

KAM-93: [FE] Create 'Administration' page Added 'Users' mocked data
  src/app/api/mocks/administration/index.ts
  src/app/api/mocks/administration/roles.mock.ts
  src/app/api/mocks/administration/users.mock.ts
  src/app/api/model/administration/userDto.ts
  src/app/api/services/index.ts
  src/app/api/services/users.service.ts
  src/app/pages/main/pages/administration/pages/permissions/permissions.component.ts
  src/app/pages/main/pages/administration/pages/roles/roles.component.ts
  src/app/pages/main/pages/administration/pages/users/users.component.html
  src/app/pages/main/pages/administration/pages/users/users.component.ts
  src/app/pages/main/pages/administration/pages/users/users.module.ts
  src/app/widgets/grid/renders/tag-cell/index.ts
  src/app/widgets/grid/renders/tag-cell/tag-cell-def.ts
  src/app/widgets/grid/renders/tag-cell/tag-cell-params.ts
  src/app/widgets/grid/renders/tag-cell/tag-cell.component.html
  src/app/widgets/grid/renders/tag-cell/tag-cell.component.ts
  src/app/widgets/grid/renders/tag-cell/tag-cell.module.ts
Due: prettier --write, eslint --fix

KAM-93: [FE] Create 'Administration' page Added disable delete button
  src/app/api/mocks/administration/users.mock.ts
  src/app/api/model/administration/userDto.ts
  src/app/pages/main/pages/administration/pages/users/users.component.ts
  src/app/widgets/grid/renders/country-cell/country-cell-def.ts
  src/app/widgets/grid/renders/country-cell/country-cell-params.ts
  src/app/widgets/grid/renders/country-cell/country-cell.component.html
  src/app/widgets/grid/renders/country-cell/country-cell.component.ts
  src/app/widgets/grid/renders/country-cell/index.ts
Due: prettier --write, eslint --fix

KAM-93: [FE] Create 'Administration' page Added edit user modal
  src/app/api/mocks/administration/users.mock.ts
  src/app/api/model/administration/userDto.ts
  src/app/pages/main/pages/administration/pages/roles/roles.component.ts
  src/app/pages/main/pages/administration/pages/roles/widgets/role-modal/role-modal.component.ts
  src/app/pages/main/pages/administration/pages/users/users.component.ts
  src/app/pages/main/pages/administration/pages/users/users.module.ts
  src/app/pages/main/pages/administration/pages/users/widgets/user-modal/index.ts
  src/app/pages/main/pages/administration/pages/users/widgets/user-modal/user-modal.component.html
  src/app/pages/main/pages/administration/pages/users/widgets/user-modal/user-modal.component.scss
  src/app/pages/main/pages/administration/pages/users/widgets/user-modal/user-modal.component.ts
  src/app/utils/interfaces/index.ts
  src/app/utils/interfaces/modal-data.interface.ts
  src/app/utils/types/index.ts
  src/app/utils/types/modal-mode.ts
  src/app/widgets/grid/renders/country-cell/country-cell.component.html
  src/app/widgets/reactive-fields/classes/reactive-component.ts
  src/app/widgets/reactive-fields/classes/reactive-selection-component.ts
  src/app/widgets/reactive-fields/reactive-select/reactive-select.component.html
  src/assets/locale/locale-en.ts
  src/assets/locale/locale-ru.ts
  src/assets/locale/locale.interface.ts
Due: prettier --write, eslint --fix

KAM-95: [FE] Reformate 'HOME' page Refactored `Home` page Added `News` page
  src/app/pages/main/main-routing.module.ts
  src/app/pages/main/main.component.html
  src/app/pages/main/main.component.ts
  src/app/pages/main/pages/home/home.component.html
  src/app/pages/main/pages/home/home.component.scss
  src/app/pages/main/pages/home/home.component.ts
  src/app/pages/main/pages/home/home.module.ts
  src/app/pages/main/pages/news/index.ts
  src/app/pages/main/pages/news/news-routing.module.ts
  src/app/pages/main/pages/news/news.component.html
  src/app/pages/main/pages/news/news.component.scss
  src/app/pages/main/pages/news/news.component.ts
  src/app/pages/main/pages/news/news.module.ts
  src/app/pages/main/pages/news/widgets/modal-create-news/index.ts
  src/app/pages/main/pages/news/widgets/modal-create-news/modal-create-news.component.html
  src/app/pages/main/pages/news/widgets/modal-create-news/modal-create-news.component.scss
  src/app/pages/main/pages/news/widgets/modal-create-news/modal-create-news.component.ts
  src/app/pages/main/pages/news/widgets/modal-create-news/modal-create-news.module.ts
  src/app/pages/main/pages/news/widgets/news-card/index.ts
  src/app/pages/main/pages/news/widgets/news-card/news-card.component.html
  src/app/pages/main/pages/news/widgets/news-card/news-card.component.scss
  src/app/pages/main/pages/news/widgets/news-card/news-card.component.ts
  src/app/pages/main/pages/news/widgets/news-card/news-card.module.ts
  src/app/utils/mocked-data/news.constant.ts
  src/app/utils/mocked-data/user.constant.ts
  src/assets/locale/locale-en.ts
  src/assets/locale/locale-ru.ts
  src/assets/locale/locale.interface.ts
Due: prettier --write, eslint --fix

KAM-95: [FE] Reformate 'HOME' page Made changes after review
  src/app/pages/main/main-routing.module.ts
Due: prettier --write, eslint --fix

KAM-95: [FE] Reformate 'HOME' page Refactored `reactive-fields` styles
  src/app/pages/authorize/pages/recover-account/recover-account.component.html
  src/app/pages/authorize/pages/sign-in/sign-in.component.html
  src/app/pages/authorize/pages/sign-up/sign-up.component.html
  src/app/pages/main/main.component.ts
  src/app/pages/main/pages/administration/pages/roles/widgets/role-modal/role-modal.component.html
  src/app/pages/main/pages/administration/pages/users/widgets/user-modal/user-modal.component.html
  src/app/pages/main/pages/home/home.component.scss
  src/app/widgets/reactive-fields/classes/reactive-component.ts
  src/app/widgets/reactive-fields/reactive-input/reactive-input.component.html
  src/app/widgets/reactive-fields/reactive-input/reactive-input.component.scss
  src/app/widgets/reactive-fields/reactive-select/reactive-select.component.html
  src/app/widgets/reactive-fields/reactive-select/reactive-select.component.scss
  src/app/widgets/reactive-fields/reactive-text-editor/reactive-text-editor.component.html
  src/app/widgets/reactive-fields/reactive-text-editor/reactive-text-editor.component.scss
  src/app/widgets/reactive-fields/reactive-textarea/reactive-textarea.component.html
  src/app/widgets/reactive-fields/reactive-textarea/reactive-textarea.component.scss
  src/app/widgets/reactive-fields/styles.scss
  styles/custom-ant-disign/_form.scss
  styles/custom-ant-disign/styles.scss
  styles/global.scss
Due: prettier --write, eslint --fix

KAM-97: [FE] Breadcrumbs Added breadcrumbs
  src/app/pages/main/main-routing.module.ts
  src/app/pages/main/main.component.html
  src/app/pages/main/main.module.ts
  src/app/pages/main/pages/administration/administration-routing.module.ts
  src/app/utils/constants/color.constant.ts
  src/app/widgets/breadcrumbs/breadcrumbs.component.html
  src/app/widgets/breadcrumbs/breadcrumbs.component.ts
  src/app/widgets/breadcrumbs/breadcrumbs.module.ts
  src/app/widgets/breadcrumbs/breadcrumbs.utils.ts
  src/app/widgets/breadcrumbs/index.ts
  src/app/widgets/button/button.component.html
  src/assets/locale/locale-en.ts
  src/assets/locale/locale-ru.ts
  src/assets/locale/locale.interface.ts
  styles/custom-bootstrap/_text.scss
Due: prettier --write, eslint --fix

KAM-100: [FE] Page `Player profile` Added layouts Added `personal-data` section
  src/app/api/mocks/administration/users.mock.ts
  src/app/api/model/administration/userDto.ts
  src/app/api/model/common/countryCodeDescription.ts
  src/app/api/model/common/countryCodeType.ts
  src/app/api/model/common/index.ts
  src/app/api/model/common/resultDto.ts
  src/app/api/model/common/sexType.ts
  src/app/api/services/users.service.ts
  src/app/pages/main/main-routing.module.ts
  src/app/pages/main/main.component.ts
  src/app/pages/main/pages/home/home.component.html
  src/app/pages/main/pages/home/home.component.scss
  src/app/pages/main/pages/home/home.component.ts
  src/app/pages/main/pages/home/home.module.ts
  src/app/pages/main/pages/profile/index.ts
  src/app/pages/main/pages/profile/profile-routing.module.ts
  src/app/pages/main/pages/profile/profile.component.html
  src/app/pages/main/pages/profile/profile.component.scss
  src/app/pages/main/pages/profile/profile.component.ts
  src/app/pages/main/pages/profile/profile.module.ts
  src/app/pages/main/pages/profile/widgets/personal-data/index.ts
  src/app/pages/main/pages/profile/widgets/personal-data/personal-data.component.html
  src/app/pages/main/pages/profile/widgets/personal-data/personal-data.component.scss
  src/app/pages/main/pages/profile/widgets/personal-data/personal-data.component.ts
  src/app/pages/main/pages/profile/widgets/personal-data/personal-data.module.ts
  src/app/utils/functions/get-route-params/get-route-params.ts
  src/app/utils/functions/get-route-params/index.ts
  src/app/utils/functions/to-nullable-number/index.ts
  src/app/utils/functions/to-nullable-number/to-nullable-number.ts
  src/app/widgets/request-wrapper/request-wrapper.component.ts
  src/app/widgets/sidebar/sidebar.component.ts
  src/assets/locale/locale-en.ts
  src/assets/locale/locale-ru.ts
  src/assets/locale/locale.interface.ts
Due: prettier --write, eslint --fix

KAM-100: [FE] Page `Player profile` Added layouts Added `personal-stats` section
  package.json
  src/app/api/mocks/administration/index.ts
  src/app/api/mocks/administration/userStatistic.mock.ts
  src/app/api/model/administration/index.ts
  src/app/api/model/administration/userStatisticDto.ts
  src/app/api/services/users.service.ts
  src/app/pages/main/pages/profile/profile.component.html
  src/app/pages/main/pages/profile/profile.component.scss
  src/app/pages/main/pages/profile/profile.module.ts
  src/app/pages/main/pages/profile/widgets/personal-stats/index.ts
  src/app/pages/main/pages/profile/widgets/personal-stats/personal-stats.component.html
  src/app/pages/main/pages/profile/widgets/personal-stats/personal-stats.component.scss
  src/app/pages/main/pages/profile/widgets/personal-stats/personal-stats.component.ts
  src/app/pages/main/pages/profile/widgets/personal-stats/personal-stats.module.ts
  src/app/utils/constants/color.constant.ts
  src/assets/locale/locale-en.ts
  src/assets/locale/locale-ru.ts
  src/assets/locale/locale.interface.ts
  styles/colors.scss
  styles/custom-bootstrap/_text.scss
Due: prettier --write, eslint --fix

KAM-100: [FE] Page `Player profile` Refactored some code
  src/app/widgets/grid/renders/rank-cell/rank-cell-def.ts
  src/app/widgets/grid/renders/rank-cell/rank-cell.component.ts
Due: prettier --write, eslint --fix

Update angular from `15` to `16`
  package.json
Due: none

Update ng-zorro-antd
  package.json
Due: none

Update packages
  .eslintrc.json
  package.json
Due: none

Update packages
  .eslintrc.json
  package.json
  styles/theme.less
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,js}) or (any of: **/*.{html,scss,css,less,ejs})
  eslint --fix: any of: **/*.{ts,js}
